<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add Exam</title>
</head>
<body>
	<h1>Add Exam</h1>
	<form action="" method="POST">
		<label>Exam Code</label><br>
        <input type="number" placeholder="Enter Exam Code" name="exam_code" required><br><br>
		<label>Course ID</label><br>
        <input type="text" placeholder="Enter Course ID" name="course_id" required><br><br>
      	<label>Exam Date</label><br>
      	<input type="date" placeholder="Enter Exam Date" name="exam_date" required><br><br>
	    <label>Duration</label><br>
	    <input type="number" placeholder="Enter Duration" name="duration"><br><br>
	    <label>Start Time</label><br>
	    <input type="time" placeholder="Enter Start Time" name="start_time"><br><br>
	    <button type="submit">Submit</button>	
	</form>
</body>
</html>