<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Add Question</title>
</head>
<body>
	<h1>Add Question</h1>
	<form action="" method="POST">
		<label>Question No.</label><br>
        <input type="number" placeholder="Enter Question Number" name="question_no" required><br><br>
		<label>Exam Code</label><br>
        <input type="number" placeholder="Enter Exam Code" name="exam_code" required><br><br>
		<label>Course ID</label><br>
        <input type="text" placeholder="Enter Course ID" name="course_id" required><br><br>
      	<label>Option A</label><br>
      	<input type="text" placeholder="Enter A" name="optionA" required><br><br>
      	<label>Option B</label><br>
      	<input type="text" placeholder="Enter B" name="optionB" required><br><br>
      	<label>Option C</label><br>
      	<input type="text" placeholder="Enter C" name="optionC" required><br><br>
      	<label>Option D</label><br>
      	<input type="text" placeholder="Enter D" name="optionD" required><br><br>
      	<label>Question Statement</label><br>
      	<input type="text" placeholder="Enter Question Statement" name="question_statement" required><br><br>
	    <label>Correct Option</label><br>
      	<input type="text" placeholder="Enter Correct Option" name="correct_option" required><br><br>
	    <label>Weightage</label><br>	
	    <input type="number" placeholder="Enter Weightage" name="weightage" value=1><br><br>
	    <label>Duration</label><br>	
	    <input type="number" placeholder="Enter Duration" name="duration" value=60><br><br>
	    <button type="submit">Submit</button>	
	</form>
</body>
</html>