<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student Responses</title>
</head>
<body>
	<h1>Respond</h1>
	<form action="" method="POST">
		<label>Student ID</label><br>
        <input type="text" placeholder="Enter Student ID" name="s_id" required><br><br>
		<label>Question No.</label><br>
        <input type="number" placeholder="Enter Question No." name="question_no" required><br><br>
        <label>Exam Code</label><br>
        <input type="text" placeholder="Enter Exam Code" name="exam_code" required><br><br>
        <label>Course ID</label><br>
        <input type="text" placeholder="Enter Course ID" name="course_id" required><br><br>
        <label>Response</label><br>
        <input type="text" placeholder="Your Selected Option" name="selected_option" required><br><br>
	    <button type="submit">Submit</button>	
	</form>
</body>
</html>